*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{

}
.logo{
	font-size: 14px;
	display: inline-block;

}
.graficlogo{
	
	margin-top: 50px;
}
header{
	background: url(../Image/Header\ BG@4X.png);
}
.filter{
	background: rgba(0, 0, 0, 0.83);
}
nav{
	margin: auto;
	width: 800px;
	height: 100px;
}
.topnav{
	font-size: 14px;
	display: inline;
	
}
.topnav a{
	font-family: ﻿Lato-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
	font-size: 16pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	padding: 14px 16px;
}
.topnav a:hover{
	border-bottom: 1px solid rgba(255, 255, 255, 255);
}
h1 {
	font-family: ﻿MyriadPro-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
	font-size: 72pt;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}
h2{
	font-family: ﻿Georgia-Italic, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
	font-size: 32pt;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}